---
import Swiper from 'swiper';
import { Navigation, Pagination } from 'swiper/modules';

import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
// init Swiper:
const swiper = new Swiper('.swiper', {
  modules: [Navigation, Pagination],
  direction: 'vertical',
  loop: true,

  pagination: {
    el: '.swiper-pagination',
  },

  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  scrollbar: {
    el: '.swiper-scrollbar',
  },
  
});

const data = [
  {
    id: 1,
    title: 'Swiss Medicals',
    maker: 'Cloud, Integrations, Web, IA',
    urlImg: '../assets/proyects/img/Swiss.jpg',
    urlMarks: '../assets/proyects/marks/Swiss.png',
  },
  {
    id: 2,
    title: 'Comafi',
    maker: 'Cloud Solution, Business Integration, Web',
    urlImg: '../assets/proyects/img/Comafi.jpeg',
    urlMarks: '../assets/proyects/marks/Comafi.png',
  },
  {
    id: 3,
    title: 'Mater Dei',
    maker: 'Cloud, Integrations, Dev, UX/UI, Product Design',
    urlImg: '../assets/proyects/img/Mater.png',
    urlMarks: '../assets/proyects/marks/Meter.png',
  },
  {
    id: 4,
    title: 'Efecty',
    maker:
      'Cloud Solution/ Scalability, Business Integration, Cultural Hacking & Agility, Cybersecurity, Web & Mobile App Dev, UX/UI, Product Design',
    urlImg: '../assets/proyects/img/Efecty.png',
    urlMarks: '../assets/proyects/marks/Efecty.png',
  },
  {
    id: 5,
    title: 'Gador',
    maker: 'Cloud, Data, Dev, UX/UI',
    urlImg: '../assets/proyects/img/Gador.jpg',
    urlMarks: '../assets/proyects/marks/Gador.png',
  },
  {
    id: 6,
    title: 'Gasnor',
    maker:
      'Web/Mobile app Dev, Business Integration, CyberSecurity, Product Design, Cloud Solution/Scalability',
    urlImg: '../assets/proyects/img/Gasnor.jpg',
    urlMarks: '../assets/proyects/marks/Gasnor.png',
  },
  {
    id: 7,
    title: 'Tgn',
    maker:
      'Web/Mobile app Dev, Business Integration, CyberSecurity, Product Design, Cloud Solution/Scalability ',
    urlImg: '../assets/proyects/img/Tgn.jpg',
    urlMarks: '../assets/proyects/marks/Tgn.png',
  },
  {
    id: 8,
    title: 'Ank',
    maker: 'Cloud Solution, Business Integration, Web, Product Design',
    urlImg: '../assets/proyects/img/Ank.png',
    urlMarks: '../assets/proyects/marks/Ank.png',
  },
];
---

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const viewportWidth = window.innerWidth;
    console.log('Viewport width:', viewportWidth);
  });
</script>

<section>
  <h2>Some of our projects</h2>
  <p>Effective solutions</p>

  <div class='swiper'>
    <!-- Additional required wrapper -->
    <div class='swiper-wrapper'>
      <!-- Slides -->
      <div class='swiper-slide'>Slide 1</div>
      <div class='swiper-slide'>Slide 2</div>
      <div class='swiper-slide'>Slide 3</div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class='swiper-pagination'></div>

    <!-- If we need navigation buttons -->
    <div class='swiper-button-prev'></div>
    <div class='swiper-button-next'></div>

    <!-- If we need scrollbar -->
    <div class='swiper-scrollbar'></div>
  </div>
</section>

<style>
  .swiper {
    width: 600px;
    height: 300px;
  }
</style>
