.back{
    background: url('/back-cell-04.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ededed;
    min-height: 100vh;
    position: relative;
    z-index: -1;
}

@media (width > 1024px) {
    .back{
        background: url('/back-pc.jpg');
        background-size: cover;

    }
}
