---
import { ArrButtons } from './ArrButtons';
---

<div
  class='min-h-[120vh] px-10 w-full backCareers flex flex-col items-center justify-center text-textGray'

>
  <a 
    href="https://staging.adviters.com/careers-jobs/" 
    class='max-w-screen-lg mx-auto group hover:cursor-pointer'>
    <div
      class='p-12 border-2 border-AdBlue preTitle backdrop-blur-xl relative z-10  '
    >
      <h2 class='text-2xl mid:text-4xl sm:text-5xl lg:text-7xl font-semibold -pl-[3px]'>
        Grow your career at the <br class='hidden md:block' /> heart of change It's
        your <br class='hidden md:block' /> time to shine.
      </h2>
      <p class='text-base md:text-2xl mt-1'>
        Bring your ingenuity, curiosity and big ideas.
      </p>
    </div>
    <div class='w-full text-textGray relative z-10  grid grid-col-8'>
      <div class="mt-4">
        <img src='/footer/gptw.png' alt='Picture about gptw' class='w-12' />
      </div>
      <div class='col-start-8 flex justify-end items-center'>
        <p class='text-xl mr-6'>Join us</p>
        <ArrButtons whitch='grey' />
      </div>
    </div>
  </a>
</div>

<style>
  .backCareers {
    background-image: url('/CareersImg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .backCareers::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .preTitle {
    position: relative;
  }
  .preTitle::before {
    content: 'Careers';
    position: absolute;
    top: -3.6rem;
    left: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #0078ff;
    border: 1px solid #0078ff;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
  }
  .preTitle:hover .backArrow {
    background: #ededed;
    cursor: pointer;
  }
</style>
