---
import Projects from "./Projects/Projects";
import SlideMarksAll from "./SlideMarksAll";
import WeAre from "./WeAre.astro";
---

<div class="change">
    <WeAre />
    <Projects client:only/>
    <!-- <SlideMarksAll client:only/> -->
</div>

<script>
  import gsap from 'gsap';
  import ScrollTrigger from 'gsap/ScrollTrigger';



const isFirefox = typeof (window as any).InstallTrigger !== 'undefined';
// const isChrome = !!(window as any).chrome;
// const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

window.addEventListener('load', () => {
    gsap.registerPlugin(ScrollTrigger);

    ScrollTrigger.create({
      trigger: '.change',
      start: isFirefox ? '10%' : '50%',
      end: isFirefox ? '15%': '60%',
      onUpdate: (self) => {
        const progress = self.progress;
        const color = gsap.utils.interpolate(
          '#0078ff',
          '#cccccc',
          progress
        );
        gsap.set('.change', { backgroundColor: color });
      },
      scrub: 0.5
    });
  });
</script>

<style>
  .change {
    z-index: 1;
    background-color: #0078ff;
    min-height: 250vh;
  }
</style>