---
---
<footer class="bg-AdBlue text-textBlack p-10 grid grid-cols-4 gap-10">
   <div>
     <div>
         <h3 class="mb-2">Explorer</h3>
         <ul>
             <a href="" class="font-bold">
                 <li>Services</li>
             </a>
             <a href="" class="font-bold">
                 <li>Out Work</li>
             </a>
             <a href="" class="font-bold">
                 <li>Pulse</li>
             </a>
             <a href="" class="font-bold">
                 <li>About</li>
             </a>
             <a href="" class="font-bold">
                 <li>Careers</li>
             </a>
         </ul>
     </div>
     <div class="col-span-2">
         <h3 class="mb-2">Office</h3>
         <ul>
             <a href="" class="font-bold">
                 <li>North America</li>
             </a>
             <a href="" class="font-bold">
                 <li>Europe</li>
             </a>
             <a href="" class="font-bold">
                 <li>Latam</li>
             </a>
         </ul>
     </div>
     <div class="text-right ">
         <ul>
             <a href="" >
                 <li>Linkedin</li>
             </a>
             <a href="" >
                 <li>Instagram</li>
             </a>
             <a href="" class="block pt-6">
                 <li>info@adviters.com</li>
             </a>
         </ul>
     </div>
     <div>
   </div>
        <img src='/footer/logoDark-07.svg' alt="" class="w-52">
        
    </div>
</footer> 