---

---

<footer class='bg-AdBlue text-textBlack p-10'>
 <div class="max-w-screen-lg mx-auto">
   <div class='grid grid-cols-4 gap-10'>
     <div>
       <h3 class='mb-2'>Explorer</h3>
       <ul>
         <a href='' class='font-bold'>
           <li>Services</li>
         </a>
         <a href='' class='font-bold truncate'>
           <li>Out Work</li>
         </a>
         <a href='' class='font-bold'>
           <li>Pulse</li>
         </a>
         <a href='' class='font-bold'>
           <li>About</li>
         </a>
         <a href='' class='font-bold'>
           <li>Careers</li>
         </a>
       </ul>
     </div>
  
     <div class='col-span-3 sm:col-span-2'>
       <h3 class='mb-2'>Office</h3>
       <ul>
         <a href='' class='font-bold truncate'>
           <li>North America</li>
         </a>
         <a href='' class='font-bold'>
           <li>Europe</li>
         </a>
         <a href='' class='font-bold'>
           <li>Latam</li>
         </a>
       </ul>
     </div>
  
     <div class='text-left sm:text-right col-span-4 sm:col-span-1'>
       <ul>
         <a href=''>
           <li>Linkedin</li>
         </a>
         <a href=''>
           <li>Instagram</li>
         </a>
         <a href='' class='block pt-6'>
           <li>info@adviters.com</li>
         </a>
       </ul>
     </div>
   </div>
   <div class='sm:flex items-end justify-between mt-32'>
     <div class='flex items-center'>
       <img src='/footer/logoDark-07.svg' alt='' class='w-12' />
       <p class='text-5xl ml-[2px] font-bold mar'>Adviters</p>
     </div>
     <div class='flex mt-16 sm:justify-center items-end sm:items-center'>
       <img src='/footer/compliant.png' alt='Picture about HIPAA' class='h-12 scale-110' />
       <img src='/footer/gptw.png' alt='Picture about gptw' class='w-12 mx-4' />
       <img src='/footer/iram.png' alt='Picture about iram' class='w-12' />
     </div>
   </div>
 </div>
</footer>

