---
import { Potencial as PotencialData } from '@/data/Potencial.ts'
import PotencialCard from './PotencialCard.astro'
---

<section  class="bg-[#3c3c3b] text-textGray py-[15rem] px-10 ">
   <div class="max-w-screen-lg mx-auto">
     <h2 class="text-AdBlue font-semibold text-2xl text-center leading-5" id="service">Borderless capabilities</h2>
     <p class="text-center text-6xl lg:text-8xl mt-2 font-medium mb-20">Unlock your<br />full potencial</p>
     <div class=" flex flex-wrap justify-start md:justify-center gap-5 max-w-[940px]">
         {PotencialData.map((pot) => (
            <PotencialCard {...pot} />
         ))}
     </div>
   </div>
    
</section>
