---

---

<section
  class='bg-AdBlue text-textGray text-center text-5xl py-60 flex items-center px-10 font-bold'
>
  <h2>
    <span class='text-AdDarkBlue'>We</span> are shaping the future through technology.
    We are pushing and challenging boundaries into the unknown, requiring both technical
    skills and human abilities.
  </h2>
</section>
