---
---

<div class='pl-6 back'>
  <main class='relative w-full h-full pl-10 mt-20'>
      <h1 class='text-6xl w-40 -ml-[2px] mb-3'>Beyond the Possible</h1>
      <p class='text-2xl w-44 row-start-3 mb-24 leading-[1.6rem]'>
        We are driving the digital transformation for tomorrow, today
      </p>
      <div>
        <buttom
          class='text-xl py-1 px-4 rounded-md bg-AdBlue'
        >
          CONTACT US
        </buttom>
      </div>
  </main>
</div>

<style>

  h1 {
    font-weight: 700;
  }
  main p{
    font-weight: 500;
  }
  main buttom{
    font-weight: 600;
  }
  .back { 
    background-image: url('../assets/back-cell-04.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ededed;
    min-height: 100vh;
  }

  @media (width < 768px) {
    .back {
      justify-content: start;
    }
  }
</style>
