---
import back from '../assets/'
---


<div class="max-w-screen-2xl m-auto back">
    <main>
        <h1>Beyond the Possible</h1>
        <p>We are driving the digital transformation for tomorrow, today</p>
    </main>
</div>

<style>
    .back {
        background-image: url(back.src);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
</style>